@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	background-image: url(./assets/Back\ Ground.png);
	color: #ffffff;
	font-size: 4rem;
	font-family: "Roboto", sans-serif;
	line-height: 1.2;
}
.container {
	margin: 8rem 10rem 0rem 10rem;
}
.heading {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 5.6rem;
}
.roboto-head {
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	font-size: 5.6rem;
}
.blue {
	color: #0096ff;
}
